:root {
    --primary-color: #2563eb;
    --secondary-color: #f97316;
    --dark-color: #1e293b;
    --light-color: #f8fafc;
    --gray-color: #94a3b8;
    --footer-color: #334155;
    --hero-shadow: rgba(0, 0, 0, 0.1);
    --header-bg: rgba(255, 255, 255, 0.95);
    --header-shadow: rgba(0, 0, 0, 0.1);
    --accent-color: #2c68e9;
    --form-color:white;
    --home-bg-color:rgba(255, 255, 255, 0.9),rgba(255, 255, 255, 0.7);
    --transition: all 0.3s ease;
}

[data-theme="dark"] {
    --primary-color: #f97316;
    --secondary-color: #2563eb;
    --dark-color: #f8fafc;
    --light-color: #1e293b;
    --gray-color: #94a3b8;
    --footer-color: rgb(235, 235, 235);
    --hero-shadow: rgba(255, 255, 255, 0.1);
    --header-bg: rgba(0, 0, 0, 0.95);
    --accent-color: #f97e27;
    --form-color: black;
    --header-shadow: rgba(255, 255, 255, 0.1);
    --home-bg-color:rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.7);
    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: var(--dark-color);
    background-color: var(--light-color);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    cursor: default;
}

.section {
    padding: 80px 0;
}
.section-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
}

.btn{
    display: inline-block;
    padding: 12px 3rem;
    background: transparent;
    border-radius: 4rem;
    font-size: 1rem;
    text-decoration: none;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: var(--primary-color);
    transition: all 0.5s;
    z-index: -1;
}

.btn:hover::before {
    width: 100%;
}

.btn:hover{
    color: var(--light-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--header-bg);
    box-shadow: 0 6px 10px var(--header-shadow);
    z-index: 1000;
    transition: var(--transition);
}

header.scrolled {
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.nav-link{
    display: flex;
    list-style: none;
}

.nav-link li{
    margin-left: 30px;
}

.nav-link a{
    text-decoration: none;
    color: var(--dark-color);
    font-weight: 500;
    transition: var(--transition);
    padding: 8px 0;
    position: relative;
}

.nav-link a::after {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: var(--transition);
}

.nav-link a:hover {
    color: var(--primary-color);
}

.nav-link a:hover::after {
    width: 100%;
}

.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    height: 24px;
    position: relative;
    width: 48px;
}

.theme-switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    background-color: var(--light-color);
    bottom: 4px;
    content: "";
    height: 16px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 16px;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--dark-color);
}

input:checked + .slider:before {
    transform: translateX(24px);
}

.theme-icon {
    margin-left: 10px;
    font-size: 18px;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--primary-color);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--dark-color);
    margin: 5px;
    transition: var(--transition);
}

#home {
    height: 100vh;
    display: flex;
    align-items: center;
    background: linear-gradient(to right, var(--home-bg-color)), url(Image/Herobcg.png) no-repeat center center/cover;;
}

.hero-content {
    max-width: 800px;
}

.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero-content h1 span {
    color: var(--primary-color);
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: var(--gray-color);
}

.hero-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 5px solid var(--light-color);
    box-shadow: 0 10px 20px var(--hero-shadow);
    margin-top: 80px;
    margin-bottom: 30px;
    object-fit: cover;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    display: inline-block;
    margin-right: 20px;
    color: var(--gray-color);
    font-size: 1.5rem;
    transition: var(--transition);
}

.social-icons a:hover {
    color: var(--primary-color);
    transform: translateY(-3px);
}

#about {
    background-color: var(--light-color);
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    align-items: center;
}

.about-text h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: var(--dark-color);
}

.about-text p {
    margin-bottom: 20px;
    color: var(--gray-color);
}

.skills {
    margin-top: 30px;
}

.skill-item {
    margin-bottom: 15px;
}

.skill-name {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.skill-bar {
    height: 10px;
    background-color: #e2e8f0;
    border-radius: 5px;
    overflow: hidden;
}

.skill-progress {
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.education-experience {
    margin-top: 10px;
}

.timeline {
    position: relative;
    padding-left: 30px;
}

.timeline-item {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-left: 2px solid var(--primary-color);
    padding-left: 20px;
}

.timeline-item::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.timeline-item h4 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.timeline-item h5 {
    font-size: 1rem;
    color: var(--gray-color);
    margin-bottom: 10px;
}

.hero {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 60px 20px;
    cursor: default;
}

.hero h1{
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 50px;
}

.hero p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
}

.portofolio-desc {
    color: #777;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
}

.portofolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
}
.portofolio-item {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px var(--hero-shadow);
    transition: transform 0.3s ease;
}

.portofolio-item:hover {
    transform: translateY(-10px);
}

.portofolio-img {
    position: relative;
    overflow: hidden;
    height: 250px;
}

.portofolio-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.portofolio-item:hover .portofolio-img img{
    transform: scale(1.1);
}

.portofolio-info {
    padding: 1.5rem;
}

.portofolio-info h3 {
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

.portofolio-link {
    display: inline-block;
    text-decoration: none;
    color: var(--dark-color);
    font-weight: 600;
    transition: color 0.3s ease;
}

.portofolio-link:hover {
    color: var(--primary-color);
}

#contact-section {
    padding: 80px 0;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.contact-info {
    flex: 1;
    min-width: 300px;
}

.contact-form {
    flex: 2;
    min-width: 300px;
    background-color: var(--form-color);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.contact-info h2, .contact-form h2 {
    margin-bottom: 20px;
    color: var(--dark-color);
    position: relative;
    padding-bottom: 10px;
}

.contact-info h2::after, .contact-form h2::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 50px;
    background-color: var(--primary-color);
}

.contact-info-item {
    display: flex;
    margin-bottom: 25px;
    align-items: flex-start;
}

.contact-icon {
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    color: white;
}

.contact-text h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.contact-text p {
    color: var(--gray-color);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--gray-color);
}

.form-control:focus {
    outline: none;
    border-color: var(--primary-color);
}

textarea.form-control {
    height: 150px;
    resize: vertical;
}

.map-container {
    margin-top: 50px;
    width: 100%;
    height: 400px;
    border-radius: 8px;
    overflow:  hidden;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

#footer {
    background-color: var(--dark-color);
    color: white;
    padding: 40px 0;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section{
    flex: 1;
    min-width: 200px;
    padding: 0 20px;
    margin-bottom: 20px;
}

.footer-section h3 {
    color: var(--light-color);
    margin-bottom: 20px;
    font-size: 18px;
    position: relative;
    padding-bottom: 10px;
}

.footer-section p, ul li {
    color: var(--light-color);
}

.footer-section h3::after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 50px;
    background-color: var(--secondary-color);
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: var(--light-color);
    text-decoration: none;
    transition: color 0.4s;
}

.footer-section ul li a:hover {
    color: var(--primary-color);
}

.social-links a {
    display: inline-block;
    width: 35px;
    height: 35px;
    background-color: var(--gray-color);
    color: var(--light-color);
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.social-links a:hover {
    background-color: var(--primary-color);
}

.copyright {
    background-color: var(--footer-color);
    color: #94a3b8;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;
}

.back-to-top.show {
    opacity: 1;
}

.back-to-top span {
    font-size: 24px;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--accent-color);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.reveal {
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .nav-link {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background-color: white;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        clip-path: circle(0px at 100% 0);
        transition: all 0.5s ease-out;
        pointer-events: none;
        box-shadow: 0 5px 10px black;
    }

    .nav-link.active {
        clip-path: circle(1500px at 90% 10%);
        pointer-events: all;
    }

    .nav-link li {
        margin: 15px 0;
    } 

    .about-content {
        grid-template-columns: 1fr;
    }

    .portfolio-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .hero-content h1 {
        font-size: 2.5rem;
    }

    .section-title {
        font-size: 2rem;
    }

    .footer-section {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 480px){
    .hero-content h1 {
        font-size: 2rem;
    }

    .section {
        padding: 60px 0;
    }

    .section-title {
        font-size: 1.8rem;
    }
}